extends layout
block content
    h2 About me
    #about-me
        .img-container
            img(src='images/Me.jpg', width='200px')
        .img-wrapper
            | Agatha Christie was one of England's most famous writers. Her crime and detective stories became famous for their clever plots. Agatha Christie was often called the queen of crime.
            | Agatha Christie was born in Devon, England in 1890 as the
            | daughter of a British army captain. During the First World War she worked in a hospital as a nurse. Later on she got a job in a pharmacy. This influenced many of her crime stories because some of her victims were poisoned.
            br
            | 				 	Agatha Christie was married twice and especially her second husband travelled a lot with her. Some of her novels, like "Death on the Nile" were set in the Middle East. "Murder on the Orient Express" was written in Istanbul.
            br
            | 				 	At the beginning of the 1970s Agatha Christie became ill, but she went on writing. When she died in 1976 she had written over 60 novels, 150 short stories and 16 plays. Her stage play "The Mousetrap" is the longest running play in history. It was first performed in 1952 and after a record 23,000 performances it is still running today.
        hr
        p
            | My favourite things in my life:
            ul
                li Remove kebab
                li Remove kebab
                li Remove kebab
                li Remove kebab
                li Remove kebab
                li Remove kebab
