extends layout
block content
  .block-content
    h2 Main page
    .block-text-content
      h2 Hello, it's my first web-site
      | 					Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa
      br
      | 					Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa Kurwa.
      br
      hr
      h3 Additional information
      ul
        li Cherbadzhimaxim@gmail.com
        li
          a(href='https://github.com/Soul7ucker') https://github.com/Soul7ucker
